scripts/*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.idea/
.vscode/
*.swp
*.swo
*~
