scripts/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Django static files
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py
