{% load static %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{% static 'css/ie7.css' %}"><![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div>
				<ul>
					<li class="current">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
				</ul>
				<a href="index.html" id="logo"><img src="{% static 'images/mgtrandos.png'%}" alt="Image" width=350px></a>
				<ul>
					<li>
						<a href="blog.html">Blog</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<ul>
				<li class="current">
					<a href="index.html"><span>Featured</span></a>
				</li>
				<li>
					<a href="topseller.html"><span>Top Seller</span></a>
				</li>
				<li>
					<a href="newrelease.html"><span>New Releases</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body">
		{% block body %}{% endblock %}
	</div>
	<div id="footer">
		<div>
			<div>
				<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
			</div>
			<p>
				&copy; Copyright 2012. All rights reserved
			</p>
		</div>
	</div>
</body>
</html>